{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <img src="static/images/telkom.png" style="width: 100%; margin-top: -35px;">
    {% endblock %}

    {% block content2 %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="text-align: center;">PROGRAM STUDI D3- TEKNIK TELEKOMUNIKASI</h1>
          <br>
              <h2>Visi :</h2>
              <p>Menjadi penyelenggara pendidikan vokasi di bidang telekomunikasi dengan lulusan yang inovatif dan 
              adaptif yang mampu bersaing secara global dalam melaksanakan tridharma perguruan tinggi dengan berbasis pada 
              ilmu pengetahuan dan teknologi terapan secara berbudaya dan berwawasan lingkungan</p>
              <h2>Misi :</h2>
              <p>
              <ol>
                  <li>Menyelenggarakan pendidikan vokasi di bidang Infrastruktur Telekomunikasi sesuai kebutuhan 
                      industri  di masa kini dan mendatang.</li>
                  <li>Menyelenggarakan pendidikan vokasi di bidang Infrastruktur Telekomunikasi sesuai kebutuhan 
                      industri  di masa kini dan mendatang.</li>
                  <li>Mengembangkan suasana akademik yang kondusif untuk meningkatkan intelektulitas, produktivitas 
                      dan kualitas kerja yang lebih tinggi.</li>
              </ol>
              </p>

              <h2>Profil Lulusan</h2>
              <p>
              <ol>
                  <li>Ahli Frekuensi Radio (RF) : Sarjana  Terapan yang mampu melakukan perancangan, pelaksanaan , pengawasan, 
                      pengoperasian dan perawatan Jaringan berbasis teknologi nir kabel atau Radio Frekuensi   dengan memperhatikan 
                      syarat teknis terkait keamanan layanan, keselamatan pengguna dan aspek lingkungan sehingga 
                      mampu menyelesaikan permasalahan terkait infrastruktur Jaringan pada skala menengah di wilayah kerjanya.</li>
                  <li>Ahli Jaringan (Network engineer) : Sarjana  Terapan yang mampu melakukan perancangan, pelaksanaan , pengawasan, 
                      pengoperasian dan perawatan Jaringan berbasis teknologi  Kabel optik dan tembaga    dengan memperhatikan syarat 
                      teknis terkait keamanan layanan, keselamatan pengguna dan aspek lingkungan sehingga mampu menyelesaikan
                      permasalahan terkait infrastruktur Jaringan pada skala menengah di wilayah kerjanya.</li>
              </ol>
              </p>

              <h2>Sejarah Politeknik Negeri Bandung</h2>
              <p>Berdirinya Politeknik Negeri Bandung (Polban) tidak lepas dari perjalanan pendidikan teknik di Indonesia di masa lampau. 
                Pendidikan Teknik di Indonesia diawali dengan pendidikan di jaman kolonial, yang terdiri atas:
                <ol>
                      <li>Ambacht School (Sekolah Pertukangan) yang menghasilkan Tukang-Tukang,</li>
                      <li>Middelbare Technische School (MTS) atau Sekolah Teknik Menengah (STM) yang menghasilkan Calon Pengawas Lapangan,</li>
                      <li>Technische Hoge School (Sekolah Tinggi Teknik) yang menghasilkan Insinyur.</li>
                  </ol>
              </p>
              <p>
                Setelah kemerdekaan, pendidikan teknik terdiri atas Sekolah Teknik Pertama, Sekolah Teknik Menengah dan Perguruan Tinggi Teknik.
                Terjadinya exodus tenaga insinyur Belanda pada tahun 1951 menyebabkan jumlah insinyur di Indonesia sangat sedikit. 
                Departemen Pekerjaan Umum (DPU) pada waktu itu terpaksa mengandalkan tenaga-tenaga lulusan MTS yang walaupun 
                berpengalaman tetapi kemampuannya kurang memadai. Untuk mengatasi keadaan tersebut, terutama kekurangan tenaga di 
                lapangan, timbul pemikiran untuk mendirikan suatu lembaga pendidikan teknik yang dapat menghasilkan lulusan yang 
                kemampuannya mendekati kemampuan insinyur, namun dapat menyelesaikan studinya dalam waktu yang relatif cepat. Oleh 
                karena itu, pada tahun 1951 DPU mendirikan Lembaga Akademi Pendidikan Teknik (LAPT) di Bandung yang 
                kemudian diubah namanya menjadi Akademik Teknik Pekerjaan Umum dan Tenaga (ATPUT) dengan masa belajar selama 3 tahun.
              </p>

              <h2>Pengumuman</h2>
              <p>
                Polban memiliki 2 program magister terapan : Program Magister Terapan Rekayasa Infrastruktur 
                dan Program Magister Terapan Keuangan dan Perbankan Syariah. Untuk publikasi ilmiah dari sivitas 
                akademika POLBAN bisa dilihat melalui laman jurnal POLBAN.
              </p>
              <h2>Agenda/Event</h2>
              <p>
                <ol>
                    <li>11 - 12 April 2023 : Bazaar Ramadhan By Dharma Wanita POLBAN</li>
                    <li>29 April 2023 : Halal Bihalal Ikatan Alumni POLBAN</li>
                    <li>01 Mei 2023 : Penandatanganan MOU dengan Indonesia Cloud</li>
                    <li>25 Mei 2023 : Gathering Alumni</li>
                    <li>08 Juni 2023 : Sosialisasi Pilmapres dan KBMK 2023</li>
                    <li>14 Juni 2023 : Kunjungan DPRD Provinsi Banten</li>
                    <li>19-21 Juni 2023 : Kunjungan Politeknik Negeri Jember</li>
                    <li>08 Juni 2023 : Workshop PMW 2023</li>
                </ol>
              </p>  
        </div>
      </div>
    </div>

    {% endblock %}
